body
{
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: Verdana, Arial, sans-serif;
}

h1
{
    line-height: 200%;
    text-align: left;
    text-shadow: 1PX 30PX 2PX #1FDA9A;
}

h2{
  font-family: sans-serif;
  font-weight: normal;
}
h3
{
  font-weight:
}
h4
{
  font-style: italic;
  font-size: 0.8em;
  padding-top: 0.0em;
  margin-top: auto;
}

p
{
    font-weight: lighter;
}

nav
{
    font-weight: bold;
    text-align: right;
    text-decoration: none;
}

nav ul :hover
{
    /*opacity: .7;*/
    background-color: yellow;
}

/*main div img
{
  margin-left: 1px;
}*/

nav li
{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: .50em;
    text-decoration: none;
    font-size: 1.2em;
  }

li
{
  background: #90c5a9;
  text-align: center;
  border: 1px solid black;
  margin-left: 1%;
  width: 197px;
}
li.Items
{
  background: white;
}

main{
  border: 1px solid black;
  clear: both;
  background-color: #F5EACD;
  height: auto;
  width: auto;
}
header nav li
{
    width: 115px;
}



li img
{
  width: 160px;
  height: 140px;
  /*padding-right: 12%;
  padding-left: 5%;*/
  margin-top: 5%;
}

li h2
{
    text-align: left;
    font-size: 5em;
}

main ul
{
  display: inline-flex;
  margin-left: -2.5%;
}


main ul h2
{
    font-size:15.5;
    text-align: center;
}

main div p
{
  font-family: serif;
}

footer ul li
{
  display: inline-block;
  margin-left: 4%;
  padding-right: .55em;
  width: 100px;
}

footer a
{
    text-decoration: none;
    font-style: italic;
    color: #0000;
    margin-top: 0;
}


footer p
{
  float: left;
  margin-top: 0;
}

footer li
{
  border-radius: 0.3em;

}

//////////////////////////
/* Code for about.html */
/////////////////////////

main img
{
  margin-left: 2%;
  clear:right;
}

div.CuadroAbout
{
   clear: both;
   margin-left: 1.5%;
   float: left;
}

div.ParagraphRight, div.Middle
{
     background: white;
     margin-left: 40%;
     width: 48%;
     font-family: cursive;
     /*padding-bottom: 0.5%;*/
     padding-left: 5%;
     padding-right: 2%;
}

div.BottomLeft
{
     background: white;
     margin-left: 2%;
     width: 26%;
     height: 190px;
     text-align: justify;
     margin-top: 0%;
     padding-top: 0;
     padding-left: 1%;
     padding-right: 1%;
     float: left;
     font-family: sans-serif;
     font-style: italic;
}
div.BottomRight
{
     background: white;
     margin-left: 65%;
     width: 28%;
     height: 190px;
     padding-top: 0.15%;
     padding-left: 1%;
     padding-right: 1%;
     font-family: sans-serif;
     font-style: italic;
}

div.ParagraphDown
{
     background: white;
     width: 18.25%;
     height: 72%;
     margin: 1.5%;
     font-family: 'Roboto Mono', sans-serif;
     margin-top: 0.1%;
     padding-left: 5px;
     padding-top: 1.5px;
     padding-bottom: 1.5px;
}

//////////////////////////////
/* Code for contact_us.html */
//////////////////////////////

.top
{
  border: 0.1em solid black;
  margin-left: 85px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 23.5em;
}

.top input, .top select, .top textarea
{
  font-style: italic;
}

div.CuadroMapa
{
  float: left;
  padding-left: 1em;
  width: 59%;
  height: 55%;
  clear: both;
}

div.CuadroMapa div
{
  /*background: white;*/
  float: left;
  width: 55%;
  height: auto;
  clear: both;
}

.main CuadroMapa img
{
    width: 50%;
}

main address h2, main articulo h2
{
    font-size: medium;
    font-style: normal;
}

main address
{
  margin-left: 380px;
  padding-right: 40px;
}

main articulo h2
{
    font-size: 0.8em;
    font-style: oblique;;
}

main articulo h2
{
    padding-left: 380px;
  padding-right: 40px;

}

label
{
  display: block;
}

text{
  display: block;
}

textarea
{
  display: block;
}
